/****** General ***********/

/* Font Texte*/
* {
    font-family: 'Roboto', sans-serif;
}

.font-shrikhand {
    font-family: 'Shrikhand', cursive;
}

/*Codes couleurs*/
:root {
    --green-light-color: #99E2D0;
    --green-dark-color: #008766;
    --blue-light-color: #89C8FA;
    --blue-dark-color : #003A68;
    --violet-color : #9356DC;
    --pink-color : #FF79DA;
    --grey-color : #EAEAEA;
    --grey-mid : #F7F7F7;
    --grey-light : #F6F6F6;
    --bg-grey-light : #D2D2D2;
    --bg-grey-dark : #353535;
}

body {
    display: flex;
    justify-content: center;
    margin: 0; /* supprime la margin de 8px par défaut*/
}

.main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 768px;
    box-sizing: border-box;
}

.font-15px-300 {
    font-size: 15px;
    font-weight: 300;
}

.font-15px-700 {
    font-size: 15px;
    font-weight: 700;
}

.font-16px-300 {
    font-size: 16px;
    font-weight: 300;
}

.font-16px-500 {
    font-size: 16px;
    font-weight: 500;
}

.font-17px-300 {
    font-size: 17px;
    font-weight: 300;
}

.font-18px-300 {
    font-size: 18px;
    font-weight: 300;
}

.font-18px-500 {
    font-size: 18px;
    font-weight: 500;
}

.font-18px-700 {
    font-size: 18px;
    font-weight: 700;
}

.font-24px-700 {
    font-size: 24px;
    font-weight: 700;
}

.font-28px-400 {
    font-size: 28px;
    font-weight: 400;
}

/*Images*/
img {
    object-fit: cover;
}

/*Links*/
a {
    text-decoration: none;
    color: black;
}

/*Icons-font*/
i {
    font-family: 'Shrikhand', cursive;
}

/*Button-border*/
button {
    border: none;
}


/**************/
/*-- HEADER --*/
/**************/

/*-- Header --*/

.header {
    display: flex;
    flex-direction: column;
}


/*-- Logo OhMyFood --*/

.image-logo-ohmyfood {
    text-align: center;
    padding-top: 14px;
    padding-bottom: 5px;
}

.image-logo-ohmyfood img {
    width: 162px;
    height: 34px;
    object-fit: contain;
}

/*-- Fomulaire location --*/

.location {
    background-color: var(--grey-color);
}

.location form {
    display: flex;
    justify-content: center;
    width: 30%;
    padding: 15px;
    margin: auto;
}

.location i {
    padding-top: 3px;
    width: 12px;
    height: 16px;
}

.location input {
    font-weight: 700;
    font-size: 16px;
    padding-left: 5px;
    width: 119px;
    height: 19px;
    background-color: var(--grey-color);
    border: none;
    white-space: nowrap;
    margin-left: 15px;
}

/***************************************/
/* Partie Explorer et réserver le menu */
/***************************************/

.explore-reserve {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--grey-light);
    padding: 30px 20px;
}

.explore-reserve h1, p, button {
    text-align: center;
}

.explore-reserve-button {
    text-align: center;
    padding: 25px 0px 20px 0px;
}

.explore-button-style {
    width: 50%;
    max-width: 218px;
    height: 50px;
    background: linear-gradient(193.33deg, var(--violet-color) -11.44%, var(--pink-color) 123.93%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    color: white;
    cursor: pointer;
    padding: 10px;
}

.explore-button-style:hover {
    filter: brightness(150%);
}

.explore-button-style:active {
    filter: brightness(150%);
}

/******************************/
/* -- Partie Fonctionnement --*/
/******************************/

.fonctionnement {
    display: flex;
    flex-direction: column;
    padding: 25px 10px 40px 10px;
}

.fonctionnement h1 {
    margin-left: 20px;
}

.fonctionnement-block-button {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

/*-- Boutons "Fonctionnement" --*/

.fonctionnement-button {
    /*position: relative;*/
    display:flex;
    flex-direction: row;
    align-items: center;
    margin: 0px 20px;
    width: 85%;
}

.fonctionnement-button .circle {
    min-width: 20px;
    background:#9356DC;
    color: white;
    min-height: 20px;
    text-align: center;
    border-radius:100px;
    margin-left: -20px;
}

.fonctionnement-button-style {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
    background-color: var(--grey-mid);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    color: black;
    font-size: 16px;
    font-weight: 700;
    width: 100%;
    padding: 18px 25px;
}

.fonctionnement-button-style:hover {
    filter: brightness(150%);
}

.fonctionnement-button-style:active {
    filter: brightness(150%);
}

/**************************/
/*-- Partie Restaurants --*/
/**************************/

.restaurants {
    background-color: var(--grey-light);
    padding: 25px 0px;
}

.restaurants h1 {
    /*padding-top: 10px;*/
    margin-left: 25px;
}

.restaurants .cards {
    display: flex;
    flex-direction: column;
}

/*-- Cards --*/

.cards {
    display:flex;
    flex-direction: column;
    border-radius: 25px;
    background-color: white;
    margin: 0px 14px 25px 14px;
    position: relative;
    padding-bottom: 20px;
    position: relative;
}

.cards img {
    width: 100%;
    height: 231px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.cards .nouveau {
    padding: 5px;
    background:var(--green-light-color);
    color: var(--green-dark-color);
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 14px;
    font-weight: 500;
}

.card-content {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    gap: 5px;
}

.card-content h2, p {
    margin: 0px;
}

.card-txt-title {
    padding-left: 15px;
    position: relative;
}

/* Animation heart */

.card-heart-solid-icone {
    opacity: 0;
    transition: all 400ms;
}

.card-heart-solid-icone:hover {
    opacity: 1;
    color: var(--violet-color);
}

.cards i {
    position: absolute;
    bottom: 50px;
    right: 30px;
}

.card-txt {
    padding-left: 15px;
}

.card-txt p {
    text-align: left;
}

/**************/
/*-- Footer --*/
/**************/

footer {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-grey-dark);
}

.footer-logo img {
    height: auto;
    width: 115px;
    filter: invert(100%);
    margin-left: 25px;
    margin-top: 25px;
}

.footer-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin: 25px 0px 25px 25px;
}

.footer-links a {
    color: white;
}

.footer-links p {
    margin: 0;
}

.footer-links i {
    width: 11px;
    height: 13px;
}

.footer-button-style {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

/****** Media queries ***********/

/****************************************************/
/* Medium devices (tablets, greater/equal than 768px) */
/****************************************************/

@media (min-width: 768px) {

    .main-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 1024px;
        box-sizing: border-box;
    }
        
    .image-logo-ohmyfood img {
        width: 200px;
        height: 34px;
    }

    /* Partie Explorer et réserver */
    .explore-button-style:hover {
        filter: brightness(150%);
    }
    
    /* Partie fonctionnement */
    .fonctionnement {
        padding: 40px 40px;
    }

    .fonctionnement-block-button {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        gap: 5px;
     }
    
    .fonctionnement-button {
        display: flex;
        flex-direction: row;
    }
    
    .fonctionnement-button-style {
        text-align: left;
        padding: 18px 15px;
        gap: 15px;
    }

    .fonctionnement-button-style:hover {
        filter: brightness(150%);
    }

    /* Partie restaurants */
    .restaurants {
        padding: 40px 40px;
    }

    .restaurant-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap
    }

    .restaurant-cards .cards {
        width: 45%;
    }

    /* Footer */
    footer {
        display: flex;
        flex-direction: row-reverse;
        padding: 15px 0px;
    }

    .footer-logo {
        padding: 0px 25px;
    }

    .footer-links {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
}

/****************************************************/
/* Medium devices (desktop, greater/equal than 1024px) */
/****************************************************/

@media (min-width: 1024px) {

    .main-container {
        width: 80%;
        max-width: 1440px;
    }

    .main-restaurant {
        width: 60%;
        margin: 0 20%;
        margin-top: -20px;
    }
}
