/***********************/
/*Pages web restaurants*/
/***********************/

/*Codes couleurs*/
:root {
    --green-light-color: #99E2D0;
    --green-dark-color: #008766;
    --blue-light-color: #89C8FA;
    --blue-dark-color : #003A68;
    --violet-color : #9356DC;
    --pink-color : #FF79DA;
    --grey-color : #EAEAEA;
    --grey-mid : #F7F7F7;
    --grey-light : #F6F6F6;
    --bg-grey-light : #D2D2D2;
    --bg-grey-dark : #353535;
}

.header-restaurant {
    display: flex;
    flex-direction: column;
}

.arrow-logo {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.arrow {
    position: absolute;
    top: 20px;
    left: 20px;
}

.banner {
    background-image: url("../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
    background-size: cover;
    width: 100%;
    height: 275px;
    z-index: -1;
}

.main-container-restaurant {
    width: 100%;
}

.main-restaurant {
    background-color: var(--grey-light);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    margin-top: -20px;
}

.restaurant-name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
}

.restaurant-name h1 {
    margin-top: 40px;
    margin-bottom:15px;
    width: calc(100% - 65px);
}

.restaurant-name i {
    font-size: 25px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 5px;
}

.restaurant-name .card-heart-icone {
    background-color: var(--grey-mid);
    position: relative;
}
/***************/
/* Partie Menus*/
/***************/

/* Apparition progressives des menus */

.fadein1 {
    animation: fadein 2s;
}

.fadein2 {
    animation: fadein 4s;
}

.fadein3 {
    animation: fadein 6s;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

/***************************************/

.all-menus {
    display: flex;
    flex-direction: column;
}

.menus {
    display: flex;
    flex-direction: column;
    padding: 0px 25px;
    margin-bottom: 35px;
    gap: 15px;
}

.underline-green {
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-color: var(--green-light-color);
    text-decoration-thickness: 3px;
    text-underline-offset: 4px;
}

/*.menus p {
    margin: 10px 0px 5px 0px;
}*/

.title-price p {
    margin: 0px 0px 10px 0px;
}

.menu-list-check {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    cursor: pointer;
    width: 100%;
    overflow: hidden; /* cacher ce qui dépasse*/
    position: relative;
}
/***************************/
/*Hover sur menu-list-check*/

.menu-list-check:hover {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
}

.menu-list-check:hover .check {
    transform:translateX(0px);
}

/*.menu-list-check:hover .title-price {
    width: calc(100% - 70px);
}*/
.menu-list-check:hover .menu-list {
    width: calc(100% - 100px);
}
/****************************/

.menu-list {
    display:flex;
    flex-direction: column;
    padding: 0px 20px;
    cursor: pointer;
    /*width: 100%;*/
    width: calc(100% - 40px);
    transition: width 330ms ease-in-out;
}

.menu-list p {
    margin: 10px 0px 5px 0px;
    text-align: left;
    /*width: calc(100% - 70px);*/
    width: calc(100% - 10px);
}

.menu-list .ellipse {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.title-price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
    /*transition: width 330ms ease-in-out;*/
}

.title-price .align-right {
    text-align: right;
    width: 15%;
}

.check {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    text-align: center;
    height: 100%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: var(--green-light-color);
    transition: transform 330ms ease-in-out; /* propriété sur laquelle appliquer la transition:"transform" + durée:"330ms" + accélération-décélération:"ease-in-out" + délai:" " */
    transform: translateX(70px); /* faire ressortir la boite check*/ 
    position: absolute;
    right: 0;
    top: 0;
}

.check i {
    color: white;
}

.main-restaurant .explore-reserve-button {
    padding-bottom: 40px;
}

.explore-button-style:hover {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
}

/****** Media queries ***********/

/****************************************************/
/* Medium devices (tablets, greater/equal than 768px) */
/****************************************************/

@media (min-width: 768px) {

    .main-restaurant {
        width: 80%;
        margin: 0 10%;
        margin-top: -20px;
    }

    .restaurant-name {
        justify-content: center;
        align-items: center;
        padding: 0 25px;
        gap: 50px;
    }

    .restaurant-name i {
        font-size: 25px;
        cursor: pointer;
    }


    .restaurant-name .card-heart-icone {
        background-color: var(--grey-mid);
    }
}
/****************************************************/
/* Medium devices (desktop, greater/equal than 1024px) */
/****************************************************/

@media (min-width: 1024px) {
    
    .all-menus {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    
    }

    .menus {
        width: 28%;
    }

}