/****** General ***********/

/* Font Texte*/
* {
    font-family: 'Roboto', sans-serif;
}

/* Font Logo et titres*/
/*.logo-font-title {
    font-family: 'Shrikhand', cursive;
}*/

/*Codes couleurs*/
:root {
    --green-light-color: #99E2D0;
    --green-dark-color: #008766;
    --blue-light-color: #89C8FA;
    --blue-dark-color : #003A68;
    --violet-color : #9356DC;
    --pink-color : #FF79DA;
    --grey-color : #EAEAEA;
    --grey-mid : #F7F7F7;
    --grey-light : #F6F6F6;
    --bg-grey-light : #D2D2D2;
    --bg-grey-dark : #353535;
}

body {
    display: flex;
    justify-content: center;
    margin: 0; /* supprime la margin de 8px par défaut*/
}

.main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 768px;
    box-sizing: border-box;
}

h1 {
    font-size: 24px;
    font-weight: 700;
    padding-top: 30px;
    margin-left: 25px;
    font-family: 'Shrikhand', cursive;
}

h2 {
    font-size: 18px;
    font-weight: 700;
    font-family: 'Shrikhand', cursive;
}

h3 {
    font-size: 18px;
    font-weight: 500;
    padding-top: 30px;
    margin-left: 25px;
    font-family: 'Shrikhand', cursive;
}

h4 {
    font-size: 16px;
    font-weight: 500;
    padding-top: 30px;
    margin-left: 25px;
    font-family: 'Shrikhand', cursive;
}

p {
    font-size: 18px;
    font-weight: 300;
}

/*Liens*/
a {
    text-decoration: none;
    color: black;
}

i {
    font-family: 'Shrikhand', cursive;
}

button {
    border: none;
}

/**************/
/*-- HEADER --*/
/**************/

/*-- Entête --*/

.entete {
    display: flex;
    flex-direction: column;
}

/*-- Logo OhMyFood --*/
.image {
    text-align: center;
    padding-top: 14px;
    padding-bottom: 5px;
}

.image img {
    width: 162px;
    height: 44px;
    /*padding: 15px 0px;*/
}

/*-- Fomulaire location --*/
.location {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--grey-color);
}

.location form {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 15px 0px;
}

.location i {
    padding-top: 3px;
}

.input-location {
    font-weight: 700;
    font-size: 16px;
    padding-left: 10px;
}

.location input {
    background-color: var(--grey-color);
    border: none;
}

/*--Bouton "Explorez nos restaurants" --*/

/* Partie Explorez et réservez le menu */

.explore-reserve {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--grey-light);
}

.explore-reserve h1, p, button {
    text-align: center;
}

.explore-reserve h1 {
    margin: 0 35px;
}

.centre {
    text-align: center;
    padding: 50px 0px;
}

.explorez-button-style {
    /*width: 58%;*/
    width: 218px;
    height: 50px;
    background: linear-gradient(93.33deg, var(--violet-color) -11.44%, var(--pink-color) 123.93%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    /*border: none;*/
    border-radius: 25px;
    color: white;
    font-size: 16px;
    font-weight: 500;
}

.explore-reserve a :active {
    filter: brightness(150%);
}

/* -- Partie Fonctionnement --*/

.fonctionnement {
    display: flex;
    flex-direction: column;
}

.fonctionnement-block-button {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}


.fonctionnement-block-button a :active {
    filter: brightness(150%);
}

.fonctionnement-button {
    width: 85%;
    position: relative;
}

.fonctionnement-button p {
    font-weight: 500;
}

.circle {
    margin:1px;
    width:20px;
    background:#9356DC;
    color: white;
    height:20px;
    text-align:center;
    border-radius:100px;
    line-height: 19px; /* 20 - 1 */
    position: absolute;
    top: 18px;
    left: -10px;
}

/*-- Boutons "Fonctionnement" --*/

.fonctionnement-button-style {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
    margin: auto;
    background-color: var(--grey-mid);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    /*border: none;*/
    border-radius: 20px;
    color: black;
    font-size: 16px;
    font-weight: 500;
    width: 100%;
}

.fonctionnement-button-style {
    padding-left: 25px;
}

/*-- Restaurants --*/

.restaurants {
    background-color: var(--grey-light);
    padding-bottom: 25px;
}

/*-- Cards --*/

.cards {
    display:flex;
    flex-direction: column;
    border-radius: 25px;
    background-color: white;
    margin: 0px 14px 25px 14px;
    position: relative;
}

.cards img {
    object-fit: cover;
    width: 100%;
    height: 231px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.nouveau {
        padding:10px;
        width:61px;
        background:var(--green-light-color);
        color: var(--green-dark-color);
        height:16px;
        text-align:center;
        position: absolute;
        top: 15px;
        right: 15px;
    }

.card-content {
    display: flex;
    flex-direction: column;
}

.card-txt-title {
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
}

.card-txt-title button {
    background-color: white;
}

.card-txt {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 15px;
}

.card-txt p {
    margin: 0 0 15px 0;
}

/*--Bouton "Proposez un restaurant" --*/

/*-- Footer --*/

footer {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-grey-dark);
}

.footer-logo img {
    width: 137px;
    height: 27px;
    filter: invert(100%);
    margin-left: 25px;
    margin-top: 25px;
}

.footer-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin: 25px 0px 25px 25px;
}

.footer-links a {
    color: white;
}

.footer-links p {
    margin: 0;
}

.footer-links i {
    width: 11px;
    height: 13px;
}

.footer-button-style {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

/****** Media queries ***********/

/****************************************************/
/* Medium devices (tablets, greater/equal than 768px) */
/****************************************************/

@media (min-width: 768px) {

    .main-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 1440px;
        box-sizing: border-box;
    }
    
    .fonctionnement {
        padding-left: 200px;
    }

    .fonctionnement-block-button {
        display: flex;
        flex-direction: row;
        padding: 20px;
    }
    
    .fonctionnement-button {
        width: 23%;
    }

    .restaurants {
        padding-left: 200px;
    }

    .restaurant-cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap
        /*gap: 100px;*/
    }

    .restaurant-cards a {
        width: 40%;
    }

    footer {
        display: flex;
        flex-direction: row-reverse;
        padding: 15px 0px;
    }

    .footer-logo {
        padding: 0px 25px;
    }

    .footer-links {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }


}